// Started with mux colors but they didn't all work so well
// for code highlighting so started pulling from my code editor's (atom)
// color pallete

$atom-green: #94C074;
$atom-orange: #D29B62;

.highlight {
  // html tag names
  .nt { color: $light-orange; }

  // property names
  .na { color: $lighter-gray; }

  // Strings
  .s { color: $atom-green; }
  .s1 { color: $atom-green; }

  .k { color:  #AE79C4; }
  .kd { color: #C373DA; }

  // false
  .kc { color: $atom-orange; }

  // vars like mux.monitor,
  .nx { color: #E26B73; }
}
