/*
TODO: redo this with the new color palate. This off-the-shelf template isn't
too far off: http://ethanschoonover.com/solarized
*/
$code-purple: #871EC0;
$code-light-purple: #C373DA;
$code-light-red: #DF491E;
$code-lighter-gray: #E8E8E8;
$code-yellow: #FEDE2F;
$code-orange: #1D8FE1;
$code-green: #1FAE96;


.highlight {
  // html tag names
  .nt { color: $code-yellow; }

  // property names
  .na { color: $code-lighter-gray; }

  // Strings
  .s { color: $code-green; }
  .s1 { color: $code-green; }

  .k { color:  $code-purple; }
  .kd { color: $code-light-purple; }

  // false
  .kc { color: $code-orange; }

  // vars like mux.monitor,
  .nx { color: $code-light-red; }
}
